<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\isArama\js\bootstrap.min.js">

    
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="">is arama portali</a>
        </div>
    </nav>
    <script src = "static\isArama\js\bootstrap.min.js"></script>
    <h1>HomePage</h1>
    <img src="static\isArama\img\django.jpg" alt="" width="100">
</body>
</html>